// LOADING SPINNER
.loading {
  display: flex;
  margin: 0.5em;

  svg {
    animation: spin 1s infinite;
    animation-timing-function: cubic-bezier(0.3, 0.8, 0.8, 0.7);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ERROR CARD
.error {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 11vh;
  right: 0;
  z-index: 2;
  width: 40%;
  max-width: 300px;
  margin: 0.5rem;

  p {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba($error-color, 0.9);
    color: $light-color;
    text-align: center;
    animation: showError 1s ease;
  }
}
@keyframes showError {
  0% {
    opacity: 0;
    transform: rotateX(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}
