.header {
  @include primary-background;
  @include light-text;
  position: relative;
  height: 10vh;
  min-height: 60px;
  box-shadow: 0 5px 5px -5px $dark-color;

  .container {
    @include flex-align-center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    @include flex-align-center;

    h1 {
      @include font-weight(regular);
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  a {
    @include font-weight(light);
  }

  .navbar {
    @include flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  .menu {
    @include flex-column;
    @include primary-background;
    @include transition-ease;
    @include padding(p-2);
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    transform: translateX(100vw);
    opacity: 0;

    &.open {
      transform: translateX(0);
      opacity: 0.9;
    }

    svg {
      align-self: flex-end;
      min-height: 30px;
    }

    a {
      @include padding(py-1);
      @include text-center;
      width: 100%;
      border-bottom: 1px solid #333;
      font-size: 2em;
    }
  }
}

/* ------------------- Media ------------------- */
@media (min-width: 670px) {
  .navbar {
    font-size: 1.2rem;

    a {
      @include margin(mx-1);
    }
  }
}
