.header {
  background-color: $primary-color;
  color: $light-color;
  height: 10vh;
  min-height: 48px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  h1,
  a {
    font-weight: 300;
  }

  .navbar {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  .menu {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 1.5rem;
    background-color: $primary-color;
    transform: translateX(100vw);
    opacity: 0;
    transition: all 0.4s ease-out;

    &.open {
      transform: translateX(0);
      opacity: 0.9;
    }

    svg {
      align-self: flex-end;
      min-height: 30px;
    }

    a {
      width: 100%;
      padding: 1rem 0;
      border-bottom: 1px solid #333;
      font-size: 2em;
      text-align: center;
    }
  }
}

/* ------------------- Media ------------------- */
@media (min-width: 670px) {
  .navbar {
    font-size: 1.2rem;
  }
}
