.main-wrapper {
  @include flex-column;
  justify-content: space-between;
  height: 90vh;
  max-height: calc(100vh - 60px); // Header min-height is 48px
  background-color: lighten($secondary-color, 10%);

  .todos-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }

  .todos {
    @include flex-column;
    @include light-text;
    font-size: 1.5rem;

    .loading {
      @include padding(p-4);
      align-self: center;
    }

    p {
      @include text-center;
      padding-top: 30vh;
    }

    .todo {
      @include flex-justify-center;
      @include tile-style(showTile);
      margin: 1rem 1rem 0;
      background: linear-gradient(to right, $primary-color, $secondary-color);
      transition: all 0.3s;

      &.progress,
      &:active {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 $dark-color;
      }

      &.done {
        .title {
          color: darken($primary-color, 20%);
        }

        .check {
          svg:first-of-type {
            opacity: 1 !important;
          }
        }
      }

      .title {
        @include transition-ease;
        max-width: 600px;
        line-height: 2.5rem;
        padding: 0.5rem 0;
        flex-grow: 2;
      }

      .buttons {
        @include flex-align-center;

        button {
          position: relative;
          width: 2rem;
          height: 2rem;
          margin-left: 0.5rem;
          border: none;
          background-color: transparent;

          &.check {
            svg:first-of-type {
              opacity: 0;
            }

            svg {
              @include transition-ease;
              position: absolute;
              top: 0;
              left: 0;
              color: darken($success-color, 10%);
            }
          }
          &.trash {
            color: darken($error-color, 10%);
          }
        }
      }
    }
  }

  .form-wrapper {
    @include primary-background;
    z-index: 1;
    box-shadow: 0 5px 5px 5px $dark-color;

    form {
      @include flex;
      height: 70px;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      padding: 0.5rem 0 0.5rem 0.5rem;

      input {
        @include padding(p-1);
        @include input-border;
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
      }

      button {
        @include light-text;
        min-width: 57px;
        max-width: 57px;
        height: 100%;
        border: none;
        background-color: transparent;
      }
    }
  }
}
