/* WELCOME */
.welcome {
  height: 70vh;
  min-height: 400px;
  max-height: 540px;
  box-shadow: 0 4px 10px -2px grey;
}
.welcome_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  font-weight: 600;
  z-index: 1;
}
.welcome_text h1 {
  font-weight: 600;
}

.video_wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.video_wrapper video {
  position: absolute;
  top: 50%;
  transform: translateX(-52%) translateY(-50%) scale(0.5);
  z-index: -1;
}

/* STATS */
.stats {
  color: #333;
}

.flexstats {
  display: flex;
  flex-wrap: wrap;
}
.flexstats div {
  width: 100%;
}

/* ------------------- Media ------------------- */
@media (min-width: 600px) {
  .flexstats {
    flex-wrap: nowrap;
  }
}
