@import './config';
@import './global';
@import './header';
@import './homepage';
@import './user-form';
@import './todolist';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  @include light-background;
  @include dark-text;
  font-family: 'Lato', sans-serif;
  user-select: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  @include light-text;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

input {
  @include light-background;
}
