.todos {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
}
.todo .title {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.todo .done {
  text-decoration: line-through;
}
.todo .progress {
  color: grey;
}
.todo .animbox {
  margin-left: 10px;
  font-size: 1rem;
}

/* MEDIA */

@media (min-width: 1800px) {
  .todos {
    font-size: 3rem;
  }
}
